.show {
  width: 100%;
}

.offcanvas-backdrop {
  background: none;
}

.btn-primary {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  order: 1;
  &:hover {
    background: none;
  }
  @media (min-width: 768px) {
    & {
      display: none;
    }
  }
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background: none;
}

.btn-close:focus {
  box-shadow: none;
}

.offcanvas.offcanvas-start {
  width: 100%;
}

.offcanvas-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    .name__title {
      color: black;
      font-size: 35px;
      font-family: 'Montserrat', sans-serif;
      margin: 0px;
      @media (min-width: 480px) {
        & {
          font-size: 50px;
        }
      }
    }
    .name__small {
      color: black;
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
    }
  }
  .nav-bar--burger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 50px;
    gap: 30px;
    &__item {
      color: black;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 25px;
      transition: color 0.3s ease;
      padding-bottom: 10px;
      &:hover {
        color: rgb(123, 85, 194);
      }
      @media (min-width: 480px) {
        & {
          font-size: 30px;
        }
      }
    }
  }
  .language-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
    &__item {
      width: 40px;
    }
  }
}

.language-selector--bar {
  display: flex;
  align-items: center;
  gap: 10px;
  &__item {
    width: 40px;
  }
}
