@import './components/header';
@import './components/footer';
@import './components/main/main-styles';
@import './burger';

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background-color: #efefef;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 320px;
  padding: 0px 15px;
  margin: 0px auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

[data-animate] {
  opacity: 0;
  transition: all 0.6s ease;
}

[data-animate].visible {
  opacity: 1;
  transform: translateY(0);
}
