#projects {
  background-color: rgb(39, 43, 57);
  padding-top: 80px;
  padding-bottom: 60px;
  .projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    &__title-projects {
      font-family: 'Montserrat', sans-serif;
      font-size: 45px;
      color: white;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin: 0px;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      .card {
        border-radius: 4px;
        background-color: white;
        border-width: 0px;
        .card__link--item {
          width: 320px;
          height: 294px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
        .card-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          padding: 30px 40px 60px 40px;
          width: 320px;
          height: 215px;
          &__title {
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            margin: 0px;
          }
          &__description {
            font-size: 18px;
            font-family: 'Nunito', sans-serif;
            margin: 0px;
            font-weight: 600;
            text-align: center;
            width: 250px;
          }
          &__item {
            font-size: 18px;
            font-family: 'Nunito', sans-serif;
            margin: 0px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
