.site-footer {
  background-color: #111;
  padding: 40px 0px 40px 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  color: #aaa;
  text-align: center;
  &__content {
    max-width: 800px;
    margin: 0 auto;
  }
  &__text {
    margin-bottom: 10px;
    color: #888;
  }
  &__legal {
    font-size: 12px;
    color: #666;
  }
}
